The TAAP is a one-tap web application for teaching assistants and professors that assists them in evaluating students' performance in a lab session.

* The system should allow users to create a new lab session, the lab owner will get a TA token
* The lab owner should be able to login using the TA token or share it with other teaching assistants
* The system should allow multiple teaching assistants to join a lab session with the same token
* The system should also provide a way for logged-in teaching assistants to copy student's token
* The students should be able to join the lab session using the student's token
* The system should associate both TA and student users logged-in with the TA/Student token pair with the same lab session.
* The system should allow students to raise a review request to the teaching assistant when they finish their lab exercise.
* The system should allow students to revert their submission request if they are not at queue position 1
* The teaching assistant should be able to see the number of students in the queue, and the system should assign review requests to teaching assistants on a first-come, first-serve basis.
* The system supports multiple lab sessions and multiple teaching assistants to be registered with a lab session so that the review requests will be split based on availability.
* Once the teaching assistant taps on the "ready to accept request" button, a request will be assigned to the teaching assistant from the queue.
* The system should allow the teaching assistant to grade the students and submit the evaluation.
* While in the queue, the students should be able to see their queue status on the page.
* The lab session should be time limited, and TA will have the option to end a lab session.
* Students should be able to view their grade report in the report tab.
* The teaching assistants should be able to view the grade report of all students in the report tab.
